* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  margin: 2.5rem auto;
  width: 75vw;
  max-width: 120rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.logo {
  font-size: 2.6rem;
  font-weight: 600;
}

nav {
  font-size: 1.4rem;
  font-family: serif;
  gap: 3rem;
  align-self: center;

  display: flex;
}

a {
  text-decoration: none;
}

a:link,
a:active,
a:visited {
  color: inherit;
}

.question-board {
  width: 50%;
  max-width: 60rem;
  padding: 3.5rem 3.5rem 0 3.5rem;
  margin: auto auto;
  border: 2px solid rgb(224, 223, 223);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.title,
.question-number {
  font-size: 1.4rem;
  text-align: center;
}

.question {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.choices {
  width: 100%;

  display: grid;
  /* Note that the gap is 5px, with min of 49%, it means when 5px takes up more than 2% of the container width, the choices collapse into a column*/
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  grid-auto-rows: 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.choice,
.next {
  background-color: #fff;
  border: 1px solid rgb(224, 223, 223);
  padding: 1rem;
  cursor: pointer;
}

.choice {
  align-self: stretch;
}

.choice:active,
.next:active {
  background-color: rgb(202, 227, 255);
}

.choice:focus,
.next:focus {
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
}

.extra-space {
  height: 5.5rem;
}

.result {
  font-size: 1.4rem;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.next {
  background-color: rgb(68, 99, 240);
  color: #fff;
  width: 7rem;
  height: 3.5rem;
  margin-bottom: 2rem;
}

.report {
  font-size: 2.4rem;
  background-color: #fff;
  border: 2px solid rgb(224, 223, 223);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 20%;
  z-index: 10;
}

.close-report {
  font-size: 1.6rem;
  background-color: #fff;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;

  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}

@media (max-width: 37em) {
  html {
    font-size: 56.25%;
  }

  .container {
    width: 95vw;
  }

  header {
    margin-bottom: 5.5rem;
  }

  nav {
    gap: 1rem;
  }

  .question-board {
    width: 80%;
  }

  .report {
    width: 90%;
  }
}
